# Local env
.env
.env.example
*.local

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
docs/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/

# Project temp
spec.pdf
